<%- include('./head.ejs')  %>
<%- include('./scanVarcode.ejs')  %> 
<%- include('./menu.ejs')  %> 

<main>
  <h1><%= title %></h1>
  <form action="/history/ingress" method="POST" id="history-ingress-form">
    <label for="client"> Seleccione el proveedor: 
      <select name="client" >
        <option value="0">...Selecciona un Proveedor...</option>
      </select>
    </label>
    <label for="clientID"> N째 de Cuit: <input type="text" name="clientID"></label>
    <label for="referenceNumber"> N째 de Remito: <input type="text" name="referenceNumber" required></label>

    <a href="/clients/create-client" class="btn-form-add">Agregar Proveedor Nuevo</a>
    <div class="items-list">
      <div class="create-item">
        <label for="[products][0][varCode]">C처digo de Barras: <input type="text" class="var-code-input" name="[products][0][varCode]" data-next-input="[products][0][name]" title="El item debe existir en el inventario de productos." required></label>
        <input type="button" value="Scanear Codigo" class="btn-code-scan" data-varCode="[products][0][varCode]">
        <label for="[products][0][name]">Nombre del Item: <input type="text" name="[products][0][name]" required></label>
        <label for="[products][0][quantity]">Cantidad: <input type="number" min="0" name="[products][0][quantity]" required> </label>
      </div>
    </div>
    <input type="button" id="btn-add-item" value="Agregar otro Item">
    <input type="submit" value="Cargar ingreso">
    <a href="/products/create-product" class="btn-form-add">Agregar Producto Nuevo</a>

  </form>
</main>
<template id="history-ingress-template">
  <div class="create-item">
    <label>C처digo de Barras: <input type="text" class="var-code-input" required></label>
    <input type="button" value="Scanear Codigo" class="btn-code-scan">
    <label>Nombre del Item: <input type="text" required></label>
    <label>Cantidad: <input type="number" min="0" required></label>
    <input type="button" value="Quitar Item" class="btn-delete-item">
  </div>
</template>

<script>
  const clientsList = <%-JSON.stringify(clients)  %>;
  const itemsList = <%-JSON.stringify(items)  %>;
</script>
<%- include('./footer.ejs')  %> 
