<%- include('./head.ejs')  %>
<%- include('./scanBarCode.ejs')  %> 
<%- include('./menu.ejs')  %> 
<main>
  <h1><%= title %></h1>
  <div class="container  container-form">
    <form action="/history/upgrade" method="POST" id="upgrade-history-form">
      <label for="client"> Seleccione el proveedor: 
        <select name="client">
          <option value="0">...Selecciona un Proveedor...</option>
        </select>
      </label>
      <label for="clientID" required> N° de Cuit: <input type="text" value="<%= history.clientID %>" name="clientIDDisabled" disabled required></label>
      <label for="referenceNumber"> N° de Remito: <input type="text" name="referenceNumber"  value="<%= history.referenceNumber %>" required></label>
      
      <label for="name"> Nombre del producto: 
        <input type="text" name="name" placeholder="Electródo para madera" value="<%= history.name %>" required>
      </label>
      <label for="barCode">Escanear Código De Barra: <input type="text" name="barCodeScan" placeholder="347 1 06548725" value="<%= history.barCode %>" disabled required></label>
      <label for="barCodeDos">Repita el Código De Barra: <input type="text" name="barCode" placeholder="347 1 06548725" value="<%= history.barCode %>" required></label>
      <button type="button" class="btn-code-scan" data-barCode="0">Escanear Código <img id="camera-icon" src="/assets/camera-icon.svg" alt="Saca una foto"></button>
      <label for="quantity">Cantidad: <input type="number" min="0" name="quantity" value="<%= history.quantity %>" data-quantity="<%= history.quantity %>" required> </label>
      <input type="hidden" name="type" value="<%= history.type %>">
      <input type="hidden" name="id" value="<%= history.id %>" required>
      <input type="hidden" value="<%= history.clientID %>" name="clientID" required>
  
      <input type="submit" id="btnSubmitForm" value="Enviar">
      <input type="hidden" name="_method" value="PUT">
    </form>
  </div>
  <template id="show-template">
    <article class="problem">
      <h3></h3>
      <p></p>
      <input type="button">
    </article>
  </template>
</main>
<script src="https://unpkg.com/html5-qrcode"></script>

<script>
  const clientsList = <%-JSON.stringify(clientList)  %>;
  const itemsList = <%-JSON.stringify(itemList)  %>;
  const histoyCuit = <%-JSON.stringify(history.clientID)  %>;
  let historyLength = 1;
</script>
<%- include('./footer.ejs')  %> 
