<%- include('./head.ejs')  %>
<%- include('./loader.ejs')  %> 
<%- include('./menu.ejs')  %> 
<main>
  <h1><%= title %></h1>
  <%- include('./history-table.ejs')  %> 
</main>
<script>
  const historyList = <%-JSON.stringify(historyList)  %>;
  const userAdmin = <%-JSON.stringify(user.admin) || false %>;

</script>
<%- include('./footer.ejs')  %> 
