<%- include('./head.ejs')  %>
<%- include('./scanBarCode.ejs')  %> 
<%- include('./menu.ejs')  %> 
<main>
  <h1><%= title %></h1>
  <div class="container  container-form">
    <form action="/history/history-<%= historyDtoList[0].referenceNumber %>/upgrade" method="POST" class="history-form" id="history-upgrade-form">
      <label for="client"> Seleccione el proveedor: 
        <select name="client">
          <option value="0">...Selecciona un Proveedor...</option>
        </select>
      </label>
      <label for="clientID" required> N° de Cuit: <input type="text" value="<%= historyDtoList[0].clientID %>" name="clientIDDisabled" disabled required></label>
      <label for="referenceNumber"> N° de Remito: <input type="text" name="referenceNumber"  value="<%= historyDtoList[0].referenceNumber %>" required></label>
      <label for="type">
        Seleccione el tipo:
        <select name="type">  
          <option value="Ingreso"<% if(historyDtoList[0].type === "Ingreso") {%> selected<% } %> >Ingreso</option>
          <option value="Egreso" <% if(historyDtoList[0].type === "Egreso") {%> selected<% } %> >Egreso</option>
        </select>
      </label>
      <div class="items-list">

        <% for(var i=0; i<historyDtoList.length; i++) { %>

          <div class="create-item">
            <label for="[products][<%= i %>][barCodeScan]">Código de Barras: <input type="text" class="bar-code-input" name="[products][<%= i %>][barCodeScan]" value="<%= historyDtoList[i].barCode %>" title="El item debe existir en el inventario de productos." disabled required></label>          
            <label for="[products][<%= i %>][nameScan]">Nombre del Item: <input type="text" name="[products][<%= i %>][nameScan]" value="<%= historyDtoList[i].name %>" disabled required></label>
            <button type="button" class="btn-code-scan" data-barCode="<%= i %>">Escanear Código <img id="camera-icon" src="/assets/camera-icon.svg" alt="Saca una foto"></button>
            <label for="[products][<%= i %>][quantity]">Cantidad: <input type="number" min="0" name="[products][<%= i %>][quantity]" value="<%= historyDtoList[i].quantity %>" data-stock="<%= itemList.find( el => el.barCode === historyDtoList[i].barCode ).stock %>" data-name="quantity" required> </label>
            <input type="hidden" class="bar-code-input" data-barCode="<%= i %>" name="[products][<%= i %>][barCode]" value="<%= historyDtoList[i].barCode %>" title="El item debe existir en el inventario de productos." required>
            <input type="hidden" name="[products][<%= i %>][name]" value="<%= historyDtoList[i].name %>" required>
            <input type="hidden" name="[products][<%= i %>][id]" value="<%= historyDtoList[i].id %>" required>
          </div>
        <%}%>

      </div>
      <input type="hidden" value="<%= historyDtoList[0].clientID %>" name="clientID" required>
      <div class="btn-container">
        <input type="button" id="btn-add-item" value="Agregar otro Item">
        <input type="submit" id="btnSubmitForm" value="Enviar">
        <input type="hidden" name="_method" value="PUT">
      </div>
  
    </form>
  </div>
  <template id="history-upgrade-template">
    <div class="create-item">
      <label>Código de Barras: <input type="text" class="bar-code-input" disabled required></label>
      <label>Nombre del Item: <input type="text" disabled required></label>
      <div class="create-item-row">
        <button type="button" class="btn-code-scan">Escanear Código <img id="camera-icon" src="/assets/camera-icon.svg" alt="Saca una foto"></button>
        <label>Cantidad: <input type="number" min="0" data-name="quantity" required></label>
      </div>
      <input type="button" value="Quitar Item" class="btn-delete-item">
      <input type="hidden" class="bar-code-input" required>
      <input type="hidden" required>
    </div>
  </template>
</main>
<script src="https://unpkg.com/html5-qrcode"></script>

<script>
  const clientsList = <%-JSON.stringify(clientList) %>;
  const itemsList = <%-JSON.stringify(itemList) %>;
  const histoyCuit = <%-JSON.stringify(historyDtoList[0].clientID)  %>;
  let historyLength = <%= Object.keys(historyDtoList).length %>;
</script>
<%- include('./footer.ejs')  %> 
