<%- include('./head.ejs')  %>
<%- include('./scanBarCode.ejs')  %> 
<%- include('./menu.ejs')  %> 
<main>
  <h1><%= title %></h1>
  <div class="container container-form">
    <form action="/history/egress" method="POST" class="history-form" id="history-egress-form">
      <label for="client"> Seleccione el proveedor: 
        <select name="client" >
          <option value="0">...Selecciona al cliente...</option>
        </select>
      </label>
      <label for="clientIDHidden"> N° de Cuit: <input type="text" name="clientIDHidden" disabled></label>
      <input type="hidden" name="clientID" required>
      <label for="referenceNumber"> N° de Orden: <input type="text" name="referenceNumber"></label>

      <a href="/clients/create-client" class="btn-form-add">Agregar Cliente Nuevo</a>
      <div class="items-list">
        <div class="create-item">
          <label for="[products][0][barCodeScan]">Código de Barras: <input type="text" class="bar-code-input" name="[products][0][barCodeScan]" disabled title="El item debe existir en el inventario de productos." required></label>
          <label for="[products][0][nameScan]">Nombre del Item: <input type="text" name="[products][0][nameScan]" disabled required></label>
          <button type="button" class="btn-code-scan" data-barCode="0">Escanear Código <img id="camera-icon" src="/assets/camera-icon.svg" alt="Saca una foto"></button>       
          <label for="[products][0][quantity]">Cantidad: <input type="number" min="0" name="[products][0][quantity]" required> </label>
          <input type="hidden" class="bar-code-input" name="[products][0][barCode]" title="El item debe existir en el inventario de productos." required>
          <input type="hidden" name="[products][0][name]" required>
        </div>
      </div>
      <div class="btn-container">
        <input type="button" id="btn-add-item" value="Agregar otro Item">
        <input type="submit" id="btnSubmitForm" value="Cargar egreso">
      </div>
      <a href="/products/create-product" class="btn-form-add">Agregar Producto Nuevo</a>

    </form>
  </div>
</main>
<template id="history-egress-template">
  <div class="create-item">
    <label>Código de Barras: <input type="text" class="bar-code-input" disabled required></label>
    <label>Nombre del Item: <input type="text" disabled required></label>
    <button type="button" class="btn-code-scan">Escanear Código <img id="camera-icon" src="/assets/camera-icon.svg" alt="Saca una foto"></button>
    <div class="create-item-row">
      <label>Cantidad: <input type="number" min="0" required></label>
    </div>
    <input type="button" value="Quitar Item" class="btn-delete-item">
    <input type="hidden" class="bar-code-input" required>
    <input type="hidden" required>

  </div>
</template>
<script src="https://unpkg.com/html5-qrcode"></script>
<script>
  const clientsList = <%-JSON.stringify(clientList)  %>;
  const itemsList = <%-JSON.stringify(itemList)  %>;
  let historyLength = 1;
</script>
<%- include('./footer.ejs')  %> 
