<%- include('./head.ejs')  %>
<%- include('./scanVarcode.ejs')  %> 
<%- include('./menu.ejs')  %> 
<main>
  <h1><%= title %></h1>
  <form action="/products/new-product" method="POST" id="new-product-form">
    <label for="name"> Nombre del producto: 
      <input type="text" name="name" placeholder="Electródo para madera" required>
    </label>
    <label for="description">Descripción: 
      <input type="text" name="description" placeholder="Electródo para soldar madera" required>
    </label>
    <label for="code"> Código Interno : 
      <input type="text" pattern="^([A-Z]{2})+([0-9]{6})$" title="El codigo debe iniciar con 2 letras mayúsculas y finalizar con 6 números" placeholder="CR001001" name="code" required>
    </label>
    <label for="minStock">Stock Mínimo: 
      <input type="number" name="minStock" title="Debe ingresar el Stock minimo con Numeros enteros" pattern="^[0-9]{1,20}$" placeholder="50" required>
    </label>
    <label for="varCode">Escanear Código De Barra: <input type="text" name="varCode" placeholder="347 1 06548725" required></label>
    <input type="button" value="Escanear Código" class="btn-code-scan">
    <label for="varCodeDos">Repita el Código De Barra: <input type="text" name="varCodeDos" placeholder="347 1 06548725" required></label>
    <label for="type">
      Seleccione el tipo de producto:
      <select name="type">
        <option value="ferreteria">Ferretería</option>
        <option value="pintureria">Pinturería</option>
        <option value="carpintería">Carpintería</option>
      </select>
    </label>
    <input type="submit" id="btnSubmitForm" value="Enviar">
  </form>
  <template id="show-template">
    <article class="problem">
      <h3></h3>
      <p></p>
      <input type="button">
    </article>
  </template>
</main>
<script>
  const productsList = <%-JSON.stringify(products)  %>;
</script>
<%- include('./footer.ejs')  %> 
